@charset "utf-8";
// font
// Montserrat
%montserrat-light {
    font-family: Montserrat;
    font-weight: 300;
}
%montserrat-regular {
    font-family: Montserrat;
    font-weight: 400;
}
%montserrat-bold {
    font-family: Montserrat;
    font-weight: 700;
}
// Raleway
%raleway-light {
    font-family: Raleway;
    font-weight: 300;
}
%raleway-regular {
    font-family: Raleway;
    font-weight: 400;
}
%raleway-medium {
    font-family: Raleway;
    font-weight: 500;
}
%raleway-bold {
    font-family: Raleway;
    font-weight: 700;
}
%raleway-extraBold {
    font-family: Raleway;
    font-weight: 800;
}
