@charset "utf-8";
header {
    width: 100%;
    padding: 1.25rem 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $white-color;
    box-shadow: 0 3px 6px rgba(18, 18, 18, 0.36);
    .container {
        .logo {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            @include prefix(transform, translate(-50%, -50%), webkit moz ms o);
            a {
                width: 182px;
                height: 56px;
                display: block;
                background: url(../images/logo_dark.png) no-repeat;
                background-size: cover;
            }
        }
        .gnb {
            position: relative;
            ul {
                padding: 0;
                font-size: 0;
                li {
                    display: inline-block;
                    line-height: 56px;
                }
            }
            .categories {
                width: 320px;
                height: 100vh;
                padding: 26px 36px;
                background-color: $secondary-color;
                position: absolute;
                top: 135%;
                right: -21px;
                box-sizing: border-box;
                li {
                    display: block;
                    font-size: 1.5rem;
                    color: $white-color;
                    a:hover {
                        color: $primary-color;
                    }
                }
                &::after {
                    content: '';
                    background-color: rgba(18, 18, 18, 0.36);
                    position: fixed;
                    top: 11.4%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
                    @include prefix(transition, all 0.5s, webkit moz o);
                }
            }
            .iconMenu {
                li {
                    width: 21px;
                    a, button[type="button"] {
                        width: 100%;
                        padding: 0;
                        vertical-align: middle;
                        svg {
                            fill: #707070;
                            vertical-align: middle;
                        }
                    }
                    &:last-of-type {
                        margin-left: 1.5rem;
                    }
                }
                .toggleMenu {
                    margin-left: 1.625rem;
                    float: right;
                    span {
                        height: 3px;
                        display: block;
                        background-color: #707070;
                        @include prefix(transition, all 0.5s, webkit moz o);
                        &:nth-of-type(2) {
                            margin: 4px 0;
                        }
                    }
                    &.on {
                        span {
                            &:nth-of-type(1) {
                                @include prefix(transform, translateY(7px) rotate(-45deg), webkit moz ms o);
                            }
                            &:nth-of-type(2) {
                                opacity: 0;
                            }
                            &:nth-of-type(3) {
                                @include prefix(transform, translateY(-7px) rotate(45deg), webkit moz ms o);
                            }
                        }
                    }
                }
                .searchBtn {
                    float: right;
                }
            }
        }
        .searchForm {
            display: none;
            width: 100%;
            height: 0;
            background-color: $default-color;
            position: absolute;
            top: 100%;
            left: 0;
            overflow: hidden;
            @include prefix(transition, height 0.5s, webkit moz o);
            form {
                width: 50%;
                max-width: 32rem;
                padding: 3.125rem 0;
                margin: 0 auto;
                position: relative;
                input[type="text"] {
                    width: 100%;
                    padding: 14px;
                    color: $white-color;
                    background: none;
                    border: none;
                    border-bottom: 1px solid $white-color;
                    box-sizing: border-box;
                }
                button[type="submit"] {
                    width: 30px;
                    height: 30px;
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    right: 14px;
                    @include prefix(transform, translateY(-50%), webkit moz ms o);
                    svg {
                        fill: $white-color;
                    }
                }
            }
        }
    }
}