@charset "utf-8";
.introduce {
    margin-top: 60px;
    padding-top: 90px;
    background-color: #fbfaf8;
    .title {
        @extend %title;
    }
    img {
        width: 100%;
        height: auto;
        vertical-align: top;
    }
}