@charset "utf-8";
.main-visual {
    height: 100vh;
    .swiper-wrapper {
        margin-top: 96px;
        position: relative;
        .swiper-slide {
            background-repeat: no-repeat;
            background-size: cover;
            .slogan {
                width: 100%;
                text-align: center;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                @include prefix(transform, translate(-50%, -50%), webkit moz ms o);
                > * {
                    @include prefix(transform, translateY(-50%), webkit moz ms o);
                    opacity: 0;
                }
                strong {
                    display: block;
                    font-size: 20px;
                    @extend %raleway-medium;
                    letter-spacing: 1px;
                    @include prefix(animation-delay, 0.4s, webkit moz o);
                }
                h3 {
                    margin: 0;
                    padding: 10px 0;
                    font-size: 38px;
                    @extend %raleway-extraBold;
                    @include prefix(animation-delay, 0.6s, webkit moz o);
                }
                p {
                    max-width: 600px;
                    margin: 0 auto;
                    font-size: 12px;
                    line-height: 16px;
                    @include prefix(animation-delay, 0.8s, webkit moz o);
                }
                .link-btn {
                    margin-top: 49px;
                    @extend %link-btn;
                    @include prefix(animation-delay, 1s, webkit moz o);
                }
            }
        }
        .slide1 {
            background-image: url(../images/mainslide_01.jpg);
        }
        .slide2 {
            background-image: url(../images/mainslide_02.jpg);
        }
        .slide3 {
            background-image: url(../images/mainslide_03.jpg);
        }
        .swiper-slide-active .slogan > * {
            @include prefix(animation, textUpAnimation 0.8s forwards ease-out, webkit moz o);
        }
    }
    @keyframes textUpAnimation {
        from {
            @include prefix(transform, translateY(40%), webkit moz ms o);
            opacity: 0;
        }
        to {
            @include prefix(transform, translateY(0), webkit moz ms o);
            opacity: 1;
        }
    }
    .swiper-pagination {
        position: absolute;
        bottom: 20px;
        left: 50%;
        @include prefix(transform, translateX(-50%), webkit moz ms o);
        z-index: 100;
        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            margin: 0 4px;
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            cursor: pointer;
            @include prefix(transition, all 0.5s, webkit moz o);
            &.swiper-pagination-bullet-active {
                background-color: transparent;
                box-shadow: 0 0 0 2px $white-color;
                &:after {
                    content: '';
                    width: 15px;
                    height: 15px;
                    display: block;
                    border-radius: 50%;
                    background-color: $white-color;
                    @include prefix(transform, scale(0.4), webkit moz ms o);
                }
            }
            &:hover {
                background-color: transparent;
                box-shadow: 0 0 0 2px $white-color;
                &:after {
                    content: '';
                    width: 15px;
                    height: 15px;
                    display: block;
                    border-radius: 50%;
                    background-color: $white-color;
                    @include prefix(transform, scale(0.4), webkit moz ms o);
                }
                
            }
        }
    }
}

// desktop
@include desktop {
    .main-visual {
        .swiper-wrapper {
            margin-top: 0;
        }
    }
}